*{
    padding: 0;
    margin: 0;
    font-family:Arial, Helvetica, sans-serif;
    /* border:1px solid red */
   
}
nav{
    height:13vh;
    align-items: center;
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap:12%;
  background-color: #ffff

}
li:first-child{
    color:#2dcad8;
}

li{
    
    padding: 10px;
     display: inline-block;
    list-style: none;
}
li:hover{
    cursor: pointer;
}
.logo{
    width:150px;
    margin:2% 1% 2% 10%;
}

.downIcon{
    margin-left: 5px;
    height: 10px;
    width: 10px;
    vertical-align: middle;
}
.get_started{
    height: 30px;
    width: 150px;
    border: none;
    border-radius: 7px;
   background-color: #BEE1E6;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
}
.menuIcon{
    height: 30px;
    width: 30px;
}
.wright_flesh{
    height:12px;
    width:15px
}
.main_span{
    margin-left: -6.2%;
    font-size: larger;
   padding:5px;
    border-radius: 10px;
    border:none;
    background-color:#006D77 ;
    color:white;
 
}
.main{
  
    height: 100vh;
    margin-right:25% ;
    margin-left:25%;
    display: flex;
    justify-content: center;
    gap:10%;
  
}
#section{
    background-color: #BEE1E6;
}
.info{
    margin-top: 13%;
    padding: 5%;
   
}
/* .img{
    margin-top: 20%;
   
} */
h1{
    padding-right: 20%;
    margin-top: 6%;
    margin-left: -6.2%;
    font-size:3.5em ;
    width: 599px;
    margin-bottom: 5%;
}
.paragraph{
    margin-left: -6.2%;
    width: 680px;
    font-size:large;
    margin-bottom:5%;
    color: grey;
}
.get_started_black{
    width: 130px;
    height: 45px;
    border-radius:8px;
    border:none;
    color:white;
    background-color: black;
    margin-top:0%;
    margin-left: -6%;
}
.get_started_blue{
    width: 130px;
    height: 45px;
    background-color: #BEE1E6;
    border-style:ridge;
    border-color: #2dcad8;
    border-radius:8px;
    margin-left: 50px;
}
.div_img{margin-top:10%}
.img{
    margin-top: 12%;
    height: 400px;
    width:400px;
}