*{
    padding: 0;
    margin: 0;
    font-family:Arial, Helvetica, sans-serif;
    /* border: 1px solid red; */
}
.menuIcon{
position: absolute;
margin-left: 90%;
top: 5.3%;
width: 20px;
height: auto;
}
.nav{
    height:13vh;
    align-items: center;
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
     gap:17%;
  background-color: #ffff
}
nav li:first-child{
    color:rgb(117,160,225);
}
nav ul{
    display: flex;
    flex-wrap: nowrap;
}
 #li{
     font-size: small;
    padding: 18px;
    list-style: none; 
}
li:hover{
    cursor: pointer;
}
.logo{
    width:300px;
    height: auto;
    margin:2% 0% 2% 6%;
}


.get_started{
    height: 40px;
    width: 140px;
    border: none;
    border-radius: 7px;
    color: white;
   background-color:#75A0E1;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
}


.main_span{
    margin-left: -6.2%;
    font-size: larger;
     padding:5px 1px;
    border-radius: 10px;
    border:none;
    background-color:#75A0E1;
    color:white;
 
}
.main{
    width: 100%;
 
        height: 70vh;
         background-color: #E1F3FF;
    display: flex;
    justify-content: center;
    gap:10%;
  
}
.div_img{
    margin-top: 5%;
}
.info{
    margin-top: 2%;
    padding: 5%;
   
}

h1{
    padding-right: 20%;
    margin-top: 6%;
    margin-left: -6.2%;
    font-size:3.5em ;
    width: 599px;
    margin-bottom: 5%;
}
.paragraph{
    margin-left: -6.2%;
    width: 680px;
    font-size:large;
    margin-bottom:5%;
    color: grey;
}
.get_started_2{
    width: 130px;
    height: 45px;
    border-radius:8px;
    border:none;
    color:white;
    background-color: rgb(117,160,225);
    margin-top:0%;
    margin-left: -6%;
}
.get_started_blue{
    width: 130px;
    height: 45px;
    color: #436FB1;
    background-color: rgb(225,243,255);
    border-style:ridge;
    border-color: #436FB1;
    border-radius:8px;
    margin-left: 50px;
}
/* .div_img{margin-top:10%} */
.img{
    margin-top: 12%;
    height: 400px;
    width:400px;
}
/************************************************** Discover us ***************************************************************************/
#Discover_us{
    height: 80vh;
}
#id{
    margin-left:0.09%;
    padding:5px;
    font-size: medium;
 
}
.section1{
    
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap:6%;
    justify-content: center;
    margin-top: 8%;
}
h2{
    margin-top: 5%;
    margin-bottom: 4%;
    font-size: 25px;
   
}
.section1_info{ 
    width:25% ;
}
p{
    color: rgb(161,161,161);
    line-height: 19px;
    font-size: small;
    margin-bottom: 6%;
}
.bold{
    font-weight: bold;
}

.section1_img{
height: 100% ;
}

.person_names{
    margin-bottom: 2%;
    font-weight: bold;
}
.idea{
    margin-top: 5%;
    width: 40%;
    text-align: center;
    margin-left:28%;   
}
.last{
    font-size: medium;
}
.persondiv{
    display: flex;
    gap: 4%;
}
.section1 p{
    text-align: justify;
}
/**************************************** Section 2 *************************************************/
#section2{
    height: 50vh;
}
.eleanor,.cody,.leslie{
    width: 25%;
    display: flex;
    gap: 5%;
}
.divglob{
    /* margin-right: 15%; */
    margin-top: 2%;
    margin-left: 15%;
    display: flex;
    gap:4%;
}
.divglob p{
    font-size: medium;
    text-align: justify;
    line-height: 20px;
}
.p{
    margin-top: 3%;
}
.lists{
    margin-top: 6%;
    display: flex;
    margin-left: 18%;
    gap: 8%;
}
.lists li{
    margin-top: 5%;
    list-style: none;
    margin-bottom: 9%;
    color:rgb(161,161,161); ;
}
.lists p{
    margin-top: 8%;
    width:250px;
    line-height:20px ;
    text-align: justify;
}
.lists ul{
    margin-top:17%;
}
footer{
    background-color: rgb(117,160,225);
    height: 14vh;
}
footer p{
    color: white;
    font-size: medium;
    text-align: center; 
    padding: 50px; 

}
@media screen and (max-width:500px) {
/**************************** nav bar ************************************************************/
    .info{
        margin-left: 8%;
        justify-content: center;
    }
    .get_started{
        margin-right: 11%;
        width: 20%;
    }
    .menuIcon{
        margin-left: 76%;
    }
    .logo{  
        width:30%;
        height: auto;
        margin:2% 0% 2% 6%;

    }
    nav ul{
        display:none;
    }
    /******************************** Hero section *********************************************************/
    .paragraph{
        width: 90%;
    }
  .main{
    display: block;
  }
  h1{
    padding-right: 20%;
    margin-top: 6%;
    margin-left: -6.2%;
    font-size:1em ;
    width: 200px;
    margin-bottom: 5%; 
}
.div_img{
    margin-left: 19%;
       height: 40%;
       width:45%;
}
.img{
width: 100%;
height: 100%;
}
.img_div{
    height: 50%;
    width:50%;
}
.section1_img{
    margin-left: 32%;
    width: 100%;
    height: 100%;
}
/***************************** section1 ************************************************************************/
#id{
margin-left: 35%;
}
.section1_info{
    width: 70%;
    margin-left: 8%;
}
#Discover_us{
    height: 100vh;
}
.section1{
    display: block;
}
.lists{
    display: block;
}
.divglob{
    display: block;
}
.idea{
    position: relative;
    width: 100%;
    margin-left: 3%;
}

}

 
    
